
<div class="body">


  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h1>Registro</h1>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <form [formGroup]="formSingIn" (ngSubmit)="onSubmit()">

          <!-- Email -->
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input [ngClass]="{'is-valid': formSingIn.get('email')?.valid,
                                     'is-invalid': formSingIn.get('email')?.invalid && formSingIn.get('email')?.touched}"
                   formControlName="email" type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
          </div>
          <small *ngIf="isErrorEmail" class="text-danger">Email ya en uso</small>
          <!-- Contraseña -->
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input [ngClass]="{'is-valid': formSingIn.get('password')?.valid,
                                     'is-invalid': formSingIn.get('password')?.invalid && formSingIn.get('password')?.touched}"
                   formControlName="password" type="password" class="form-control" id="exampleInputPassword"
                   placeholder="Password">
          </div>

          <!-- Repetir Contraseña -->
          <div class="form-group">
            <label for="exampleInputPasswordRepeat">Repeat Password</label>
            <input [ngClass]="{'is-valid': formSingIn.get('repeatPassword')?.valid && !formSingIn.hasError('passwordsMismatch'),
                                     'is-invalid': formSingIn.get('passwordsMismatch') && formSingIn.get('repeatPassword')?.touched}"
                   formControlName="repeatPassword" type="password" class="form-control" id="exampleInputPasswordRepeat"
                   placeholder="Repeat Password">
          </div>

          <div class="text-danger" *ngIf="formSingIn.hasError('passwordsMismatch')">
            Las contraseñas no coinciden.
          </div>

          <!-- Nombre -->
          <div class="form-group">
            <label for="name">Name</label>
            <input [ngClass]="{'is-valid': formSingIn.get('name')?.valid,
                     'is-invalid': formSingIn.get('name')?.invalid && formSingIn.get('name')?.touched}"
                   formControlName="name" type="text" class="form-control" id="name"
                   placeholder="Name">
          </div>

          <!-- Apellido -->
          <div class="form-group">
            <label for="surname">Surname</label>
            <input [ngClass]="{'is-valid': formSingIn.get('surname')?.valid,
                     'is-invalid': formSingIn.get('surname')?.invalid && formSingIn.get('surname')?.touched}"
                   formControlName="surname" type="text" class="form-control" id="surname"
                   placeholder="Surname">
          </div>


          <div class="form-check form-switch mt-1">
            <input class="form-check-input" formControlName="isAdmin" type="checkbox" role="switch"
                   id="flexSwitchCheckDefault">
            <label class="form-check-label">Is admin</label>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Enviar</button>
          <p class="mt-3 d-flex justify-content-center">¿Ya tienes?<span> <a routerLink="/login">Logueate aquí</a> </span></p>
        </form>
      </div>
    </div>
  </div>
</div>
