<div class="row">
    <div class="col-md-12">
        <form [formGroup]="formTaskEdit" (ngSubmit)="onSubmit()">

            <!-- Nombre -->
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" 
                [ngClass]="{'is-invalid': this.formTaskEdit.get('name')?.invalid}"
                class="form-control" formControlName="name" id="exampleFormControlInput1">

                <small class="text-danger" *ngIf="formTaskEdit.get('name')?.errors?.['required']"> El campo es
                    requerido </small>
            </div>


            <!-- Descripcion -->
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripcion</label>
                <textarea class="form-control" [ngClass]="{'is-invalid': this.formTaskEdit.get('description')?.invalid}"
                    formControlName="description" id="exampleFormControlTextarea1" rows="10"></textarea>

                <small class="text-danger" *ngIf="formTaskEdit.get('description')?.errors?.['required']"> El campo es
                    requerido </small>
            </div>
            <!-- Prioridad -->
            <div class="form-group">
                <label for="exampleFormControlSelect1">Prioridad</label>
                <select [ngClass]="{'is-invalid': this.formTaskEdit.get('priority')?.invalid}" class="form-control"
                    formControlName="priority" id="exampleFormControlSelect1">
                    <option value="H">Alta</option>
                    <option value="M">Media</option>
                    <option value="L">Baja</option>
                </select>

                <small class="text-danger" *ngIf="formTaskEdit.get('priority')?.errors?.['required']"> El campo es
                    requerido </small>
            </div>

            <!-- Fecha de expiracion -->
            <div class="form-group">
                <label for="exampleFormControlSelect2">Fecha expiracion</label>
                <input type="datetime-local" formControlName="expirationDate"
                    [ngClass]="{'is-invalid': this.formTaskEdit.get('expirationDate')?.invalid}" class="form-control"
                    id="exampleFromcontrolInput">
                <small class="text-danger" *ngIf="formTaskEdit.get('expirationDate')?.errors?.['required']"> El campo es
                    requerido </small>
            </div>
            <br><br><button class="btn btn-primary" type="submit">Guardar Cambios</button>
        </form>
    </div>
</div>