<div class="body">


  <div class="container justify-content-center">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h1>Login</h1>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <form [formGroup]="formLogin" (ngSubmit)="OnSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input [ngClass]="{'is-valid':formLogin.get('email')?.valid}" formControlName="email" type="text"
                   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="gmail">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input [ngClass]="{
                        'is-valid':formLogin.get('password')?.valid
                    }" formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                   placeholder="Password">
            <small *ngIf="isInvalid" class="text-danger">Las credenciales son incorrectas</small>
          </div>

          <button type="submit" class="btn btn-primary mb-1 mt-1">Enviar</button>
          <button type="submit" (click)="loginGoogle()" class="btn btn-primary d-none"><i class="bi bi-google m-1"></i>Login
          </button>
        </form>
      </div>

        <p class="mt-3 d-flex justify-content-center">¿No tienes cuenta?<span> <a routerLink="/singin">Registrate aquí</a> </span></p>

    </div>
  </div>
</div>
